<script type="text/javascript">
	responses.on('child_added', function(snapshot) {
		var ref = snapshot.ref();
		
		jQuery('<img/>', {
			id: ref.name(),
			src: "/assets/red_dot.png",
			style: "opacity: 0.4; filter:alpha(opacity=40);",
			text: snapshot.val().top + ' ' + snapshot.val().left,
		}).appendTo("#responseZone");
		
		ref.on('value', function(snapshot) {
			var response = $("#" + snapshot.ref().name());
			
			if (!!snapshot.val()) {
				response.text(snapshot.val().top + ' ' + snapshot.val().left);	
				response.offset({top: snapshot.val().top, left: snapshot.val().left});
			} else {
				response.remove();
			}
		});
	
	});
</script>

<div id="responseZone"></div>