<div style="position: absolute; height: 100%; width: 100%;">
<%= image_tag(@prompt.image, style: "position: absolute; top: 0px; bottom: 100px;") %>
<div style="position: relative; height: 100px; bottom: 0px;">
<%= @prompt.text %>
</div>
</div>
<%= @prompt.title %>
<%= showAllResponses %>