<script type="text/javascript">
	var module = draggyModule('<%=j @prompt.studentUrl %>');

	<% if showAllResponses %>
		module.loadTeacherView();
	<% else %>
		module.loadStudentView();
	<% end %>
</script>

<div style="position: absolute; top: 0; left: 0; visibility: hidden">
  <img id="sample_handle" src="/assets/red_dot.png">
</div>
<div style="position: absolute; top: 0px; bottom: 0px; left: 0px; right: 0px;">
	<div style="position: absolute; top: 0px; bottom: 60px; left: 0px; right: 0px; overflow: auto;">
		<div id="prompt_image_container" style="display: inline-block;">
			<%= image_tag(@prompt.image, style: "position: relative", id: "prompt_image") %>
		</div>
	</div>
	<div style="position: absolute; height: 60px; bottom: 0px; left: 0px; right: 0px">
		<p class="lead" style="text-align: center">
		Drag the red dot to <%= @prompt.text %>
		</p>
	</div>
</div>