<h1>Make a Prompt</h1>
<p>Upload an image and we'll give you a link for your students.  They'll be able to drag a red dot anywhere on the image, and you'll see a compiled view of all of their dots.</p>

<%= render 'form' %>

