<h1>ActivePrompt (working title)</h1>

<p>Collect responses from your students during class!</p>

<p>Ask a question that every student has the skills to answer, and give every student the chance to answer it! Students will engage when they have the vocabulary to at least guess at an answer, and then you can help them climb up the ladder of abstraction from there.</p>
<%= link_to "Create a new prompt for your class", new_prompt_path %>
